{% extends 'admin_base.html' %}



{% block content %}
<div class="page-header">
	<h1>{{app_name}} App Push notifications</h1>
	
	<a href="{% url 'cloudengine-admin-home' %}">Admin</a> >> &nbsp; <a href="{% url 'cloudengine-app-view' app_name %}">{{app_name}}</a> 
	>> &nbsp; <a href="">Push Notifications</a>
	
	</div>

	

	<div class="row">
		<div class="col-md-6 col-sm-4">
		<div class="panel panel-primary">
	         <div class="panel-heading">
	           <h3 class="panel-title">Manage notifications</h3>
	         </div>
	         <div class="panel-body">
	         
	         <div class="list-group">
	         	 	
	          </div>
	          
	         
	         </div>
	       </div>
	   	</div>
	    </div>      
{% endblock %}